<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    table, th, td
    {
        border: 1px solid rgb(95, 226, 95);
        border-collapse:collapse;
    }
    table{
        width: 80%;
    }
    .active{
        color: rgb(221, 62, 62);
        font-size: 17px;
        text-decoration:none;
    }
    .apage{
        text-decoration:none;
        color: rgb(139, 147, 161);
    }
    .cform{
        margin-top: 10px;
        margin-bottom: 20px;
    }
</style>
<body>
    <?php view("common.head"); ?>
    <form class="cform">
        关键字 : <input type="text" name="keyword" value="<?=@$_GET['keyword']?>">
        发布日期 : 
        <input type="text" name="start_date" value="<?=@$_GET['start_date']?>">~
        <input type="text" name="end_date" value="<?=@$_GET['end_date']?>">
        是否显示:
        <input type="radio" name="is_show" value="" <?php if(@$_GET['is_show']=='') echo 'checked'; ?>>全部
        <input type="radio" name="is_show" value="1" <?php if(@$_GET['is_show']=='1') echo 'checked'; ?> >显示
        <input type="radio" name="is_show" value="2" <?php if(@$_GET['is_show']=='2') echo 'checked'; ?> >不显示
        <input type="submit" value="搜索">
    </form>
    <table>
        <tr>
            <td>ID</td>
            <td>标题</td>
            <td>内容</td>
            <td>发布日期
                <!-- <?php if($_GET['odby']=='created_at'&&$_GET['odway']=='asc'){?> -->
                    <a href="?<?=getUrl(['odby','odway'])?>odby=created_at&odway=desc">➹</a>
                <!-- <?php }else{?> -->
                    <a href="?<?=getUrl(['odby','odway'])?>odby=created_at&odway=asc">➷</a>
                <!-- <?php }?> -->
            </td>
            <td>修改日期</td>
            <td>浏览量
                    <a href="?<?=getUrl(['odby','odway'])?>odby=display&odway=desc">➹</a>
                    <a href="?<?=getUrl(['odby','odway'])?>odby=display&odway=asc">➷</a>
            </td>
            <td>是否显示</td>
            <td>操作</td>
        </tr>
        <?php foreach($data as $v): ?>
            <tr>
                <td><?= $v['id']?></td>
                <td><a href="/contents/<?= $v['id']?>.html"><?= $v['title']?></a></td>
                <td><?= $v['content']?></td>
                <td><?= $v['created_at']?></td>
                <td><?= $v['updated_at']?></td>
                <td><?= $v['display']?></td>
                <td><?php if($v['is_show']=='1')echo "显示"; if($v['is_show']=='2')echo "不显示"; ?></td>
                <td>
                    <a href="">修改</a>
                    <a href="">删除</a>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
    <?=$pagebtns?>

    <?php view("common.footer"); ?>
</body>
</html>