<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <?php view("common.head") ?>
    <form action="/user/docharge" method="POST">
        <input type="hidden" name="token" value="<?= csrf()?>"><br>
        金额 : <input type="text" name="money"><br>
        <input type="submit" value="充值">
    </form>

    <?php view("common.footer") ?>
</body>
</html>