<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <?php view("common.head") ?>
    <form action="/user/store" method="POST">
        <input type="hidden" name="token" value="<?= csrf()?>">
        <h3>注册</h3>
        邮箱 : <input type="text" name="email"><br>
        密码 : <input type="password" name="password"><br>
        <input type="submit" value="提交">
    </form>
    <?php view("common.footer") ?>
</body>
</html>