<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>设置头像</h3>

    <form action="/user/upload" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="token" value="<?=csrf()?>"><br>
        <input type="file" name="image"><br><br>
        <input type="submit" value="上传"><br>
    </form>
</body>
</html>